*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 61.5%;
}


.logo img{
width: 190px;
background-color: aliceblue;
border-radius: 20px;
box-shadow: 1px 1px 9px 9px rgb(196, 175, 255);
}


body{
   background-image: url(Imagen/R.jfif);
   background-repeat: no-repeat;
   background-size: cover;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

ul li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding: 6px 20px;
    font-weight: 500;
    font-size: 1.7rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: aliceblue;
}

ul li a{
text-decoration: none;
color: aliceblue;
}

ul li:hover{
    border-radius: 20px;
    background-color: rgb(145, 0, 0);
    color: rgb(255, 0, 0);
}

header{
    position: absolute;
    bottom: 30%;
    padding: 0 50px;
}
header h1{
    font-size: 7rem;
    color: aliceblue;
}

header h2{
    font-size: 4rem;
    color: aliceblue;
}

header p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: aliceblue;
}

.icons{
    position: absolute;
    bottom: 10%;
    padding: 0 50px;

}

.iconss{
    font-size: 60px;
    padding: 0 10px;
    transition: all 0.3s ease 0;
}

.iconsss{
    font-size: 60px;
    padding: 0 10px;
    transition: all 0.3s ease 0;
}

.icoons{
        font-size: 60px;
    padding: 0 10px;
    transition: all 0.3s ease 0;
}

.icons > a:hover{
    background-color: rgb(231, 222, 222);
    border-radius: 20px;
    padding: 10px;
}